/* Share */
html {
    position: relative;
    min-height: 100%;
}

.mdl-textfield.mdl-textfield--align-right.half-div{
    width:50%;
}

#searchInput {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 12%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #29B6C0;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.text-muted {
    margin: 20px 0;
}

.form-login {
    max-width: 330px;
    padding: 0px 15px 5px 15px;
    margin: 0 auto;
}

    .form-login .form-login-heading {
        margin-bottom: 10px;
    }

    .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-login .form-control:focus {
            z-index: 2;
        }

    .form-login input[type="password"] {
        margin-top: 5px;
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


/*Songs info page*/
.inline-text{
    font-size: 17px;
    color: #CFC6E0;
    margin-right: 6%;
}

.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navbar{
    margin: 0px auto;
    width: 75%;
    background-color: #fd5c3d;
    height: 60px;
}

.addBaseSongButton{
    position: fixed;
    right: 9%;
    bottom: 1%;
}

.baseSongInfoCard{
    width: 35%;
    background: rgba(34, 45, 119, 0.9);
    margin-top: 1%;
    display:inline-block;
    margin-right: 1%;
}

.baseSongInfoCard > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.4);
}

.baseSongInfoCard > .mdl-card__title {
    align-items: flex-start;
}

    .baseSongInfoCard > .mdl-card__title > h4 {
        margin-top: 0;
    }

.baseSongInfoCard > .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

    .baseSongInfoCard > .mdl-card__actions > .material-icons {
        padding-right: 10px;
    }

    .baseSongInfoCard > .mdl-card__title,
    .baseSongInfoCard > .mdl-card__actions,
    .baseSongInfoCard > .mdl-card__actions > .mdl-button{
        color: #fff;
    }

/*Add song page*/
.center-card{
    margin:10px auto;
}

.child-container{
    margin-left: 2%;
    text-align:center;
    vertical-align:middle;
}

.wide-button{
    width: 300px;
}

button:hover{
    opacity: 0.9;
}

.mdl-card-wide.mdl-card {
  width: 60%;
  margin-left: 20%;
}
.mdl-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/addSong.jpg') left;
}
.mdl-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card-innerText{
    width:25%;
}

.mdl-textfield{
    width: 300%;
}

.videoArea{
    background: linear-gradient(to left, #fefcea, #f1da36);
}

.musicArea{
    background: linear-gradient(to left, #fefcea, #AFAD9F);
}

.textArea{
    background: linear-gradient(to left, #fefcea, #4B4CC7);
}

.modal-div{
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100; 
}

.modal-center-card{
    position: static;
    margin:17% auto;
}

.mdl-card-wide-noImg.mdl-card{
    width: 60%;
}

/*.jqteTextArea{
    display:block;
	margin:0 0 10px;
	padding:6px;
	width:95%;
	background:#FFF;
	border:#AAA 1px solid;
	font-size:13px;
    min-height:100px;
}*/

.texteditor{
    font-size: 15px;
}

.jqte_tool_label{
    height: 0%;
}

.mdl-card-textfield{
    margin: -20px auto;
}

#videoContainer{
    margin: 10px auto;
    text-align: center;
}

#videoContainer > iframe{
    margin-bottom: 10px;
}

/*Full song info*/

.backButton{
    position: relative;
    margin-left: -84%;
    margin-top: 10px;
}

.mdl-card-full.mdl-card{
    width:90%;
}

.mdl-card-full > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/guitar.jpg') left;
}

.video-frame{
    margin: 10px 10%;
}

.music-name{
    margin: 10px 10%;
}